@use '~@angular/material' as mat;

$app-primary: mat.define-palette(mat.$indigo-palette);
$primary: mat.get-color-from-palette($app-primary);

.navi {
    width: 100%;
    z-index: 1000; 
    background-color: $primary;
  }
  
    
    .toolbar-spacer {
      flex: 1 1 auto;
    }
    
    .action-space {
        margin-left: 50px;
    }
  
    .fixed-header {
      position: fixed;
    }
  
    .mat-menu-content {
      background: blue;
    }

.mat-toolbar {
    color: white;
    background-color: $primary;
}