<div class="content">
    <div class="main-stream">
        <div class='jumbo'>
            <h1 color='primary'> storiesboard </h1>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Marcel Schlimper
                </mat-card-title>
                <mat-card-subtitle>
                    Development Lead
                </mat-card-subtitle>
                <div mat-card-avatar class="header-image"></div>
            </mat-card-header>
        </mat-card>
        
        <div class='selection'>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="title">
                        Jobs
                    </mat-panel-title>
                    <mat-panel-description>
                        Development Lead at Akelius GmbH
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <div>
                    <h1>Akelius GmbH </h1>
                    <h2> Development Lead</h2>
                    <p>since Feb. 2018 </p> 
                    <h3> Development Lead for Accounting Services / Finance </h3>
                    <button mat-stroked-button color="primary">Project Management</button>
                    <button mat-stroked-button color="primary">Agile</button>
                    <button mat-stroked-button color="primary">Scrum</button>
                    <button mat-stroked-button color="primary">Kanban</button>
                    <button mat-stroked-button color="primary">Jira</button>
                    <button mat-stroked-button color="primary">Trello</button>
                    <button mat-stroked-button color="primary">Github</button>
                    <button mat-stroked-button color="primary">Scrum</button>
                    <p>
                        <button mat-raised-button  href="http://www.akelius.de" target="_blank"> Akelius GmbH </button>
                    </p>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h1>drivn Technologies GmbH </h1>
                    <h2> Founder</h2>
                    <p>since September 2013 </p> 
                    <h3> Founder </h3>
                    <button mat-stroked-button color="primary">Go</button>
                    <button mat-stroked-button color="primary">Google Compute Cloud</button>
                    <button mat-stroked-button color="primary">Angular</button>
                    <button mat-stroked-button color="primary">Typesecript</button>
                    <button mat-stroked-button color="primary">AWS</button>
                    <button mat-stroked-button color="primary">Github</button>
                    <button mat-stroked-button color="primary">Firebase</button>
                    <p> 
                        <button mat-raised-button  href="http://www.drivn.de" target="_blank"> Drivn Technologies GmbH </button>
                    </p>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2>Jamii GmbH</h2>
                    <h3> Senior Application Manager </h3>
                    <p>2011 - 2013 </p> 
                    <h4> Senior Application Manager </h4>
                    <button mat-stroked-button color="primary">Ruby</button>
                    <button mat-stroked-button color="primary">Ruby on Rails</button>
                    <button mat-stroked-button color="primary">MySQL</button>
                    <button mat-stroked-button color="primary">Salesforce</button>
                    <button mat-stroked-button color="primary">Voxeo</button>
                    <button mat-stroked-button color="primary">Tropo API</button>
                    <button mat-stroked-button color="primary">Nagios</button>
                    <button mat-stroked-button color="primary">Agile Project Management</button>
                    <button mat-stroked-button color="primary">Agile Product Management</button>
                </div> 
                <mat-divider></mat-divider>
                <div>
                    <h2>nugg.ad AG</h2>
                    <h3> Senior Software Developer </h3>
                    <p>2006 - 2011 </p> 
                    <h4> Senior Software Developer </h4>
                    <button mat-stroked-button color="primary">RedHat</button>
                    <button mat-stroked-button color="primary">Gentoo</button>
                    <button mat-stroked-button color="primary">Java</button>
                    <button mat-stroked-button color="primary">Ruby</button>
                    <button mat-stroked-button color="primary">Ruby on Rails</button>
                    <button mat-stroked-button color="primary">Quality Assurance</button>
                    <button mat-stroked-button color="primary">MySQL</button>
                    <button mat-stroked-button color="primary">Oracle</button>
                    <button mat-stroked-button color="primary">Windows</button>
                    <button mat-stroked-button color="primary">Linux</button>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2>travert GmbH</h2>
                    <h3> Software Consultant, Project Leader </h3>
                    <p>2005 - 2006 </p> 
                    <h4> Software Consultant, Project Leader </h4>
                    <button mat-stroked-button color="primary">Java</button>
                    <button mat-stroked-button color="primary">Micro Focus</button>
                    <button mat-stroked-button color="primary">Linux</button>
                    <button mat-stroked-button color="primary">zLinux</button>
                    <button mat-stroked-button color="primary">Cobol</button>
                    <button mat-stroked-button color="primary">Mainframe</button>
                </div> 
                <mat-divider></mat-divider>
                <div>
                    <h2>Charite</h2>
                    <h3> Software Developer </h3>
                    <p>2005 </p> 
                    <h4> Software Developer </h4>
                    <button mat-stroked-button color="primary">Java</button>
                    <button mat-stroked-button color="primary">Linux</button>
                </div>              
            </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class='selection'>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="title">
                        Tech Stack
                    </mat-panel-title>
                    <mat-panel-description>
                        Golang
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <button mat-stroked-button color="primary">Project Management</button>
                <button mat-stroked-button color="primary">Agile</button>
                <button mat-stroked-button color="primary">Scrum</button>
                <button mat-stroked-button color="primary">Kanban</button>
                <button mat-stroked-button color="primary">Jira</button>
                <button mat-stroked-button color="primary">Trello</button>
                <button mat-stroked-button color="primary">Github</button>
                <button mat-stroked-button color="primary">Scrum</button>
                <button mat-stroked-button color="primary">Go</button>
                <button mat-stroked-button color="primary">Google Compute Cloud</button>
                <button mat-stroked-button color="primary">Angular</button>
                <button mat-stroked-button color="primary">Typesecript</button>
                <button mat-stroked-button color="primary">AWS</button>
                <button mat-stroked-button color="primary">Github</button>
                <button mat-stroked-button color="primary">Firebase</button>
                <button mat-stroked-button color="primary">Ruby</button>
                    <button mat-stroked-button color="primary">Ruby on Rails</button>
                    <button mat-stroked-button color="primary">MySQL</button>
                    <button mat-stroked-button color="primary">Salesforce</button>
                    <button mat-stroked-button color="primary">Voxeo</button>
                    <button mat-stroked-button color="primary">Tropo API</button>
                    <button mat-stroked-button color="primary">Nagios</button>
                    <button mat-stroked-button color="primary">Agile Project Management</button>
                    <button mat-stroked-button color="primary">Agile Product Management</button>
                    <button mat-stroked-button color="primary">RedHat</button>
                    <button mat-stroked-button color="primary">Gentoo</button>
                    <button mat-stroked-button color="primary">Java</button>
                    <button mat-stroked-button color="primary">Ruby</button>
                    <button mat-stroked-button color="primary">Ruby on Rails</button>
                    <button mat-stroked-button color="primary">Quality Assurance</button>
                    <button mat-stroked-button color="primary">MySQL</button>
                    <button mat-stroked-button color="primary">Oracle</button>
                    <button mat-stroked-button color="primary">Windows</button>
                    <button mat-stroked-button color="primary">Linux</button>
                    <button mat-stroked-button color="primary">Java</button>
                    <button mat-stroked-button color="primary">Micro Focus</button>
                    <button mat-stroked-button color="primary">Linux</button>
                    <button mat-stroked-button color="primary">zLinux</button>
                    <button mat-stroked-button color="primary">Cobol</button>
                    <button mat-stroked-button color="primary">Mainframe</button>
            </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class='selection'>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title class="title">
                    Projects
                </mat-panel-title>
                <mat-panel-description>
                    not yet implemented.
                </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Not yet implemented.</p>
            </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class='selection'>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title class="title">
                    Blogs
                </mat-panel-title>
                <mat-panel-description>
                    not yet implemented.
                </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Not yet implemented.</p>
            </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class='selection'>
            <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title class="title">
                    github
                </mat-panel-title>
                <mat-panel-description>
                    not yet implemented.
                </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Not yet implemented.</p>
            </mat-expansion-panel>
            </mat-accordion>
        </div>
          
        
    </div>
</div>