@use '@angular/material' as mat;
$app-primary: mat.define-palette(mat.$indigo-palette);
$primary: mat.get-color-from-palette($app-primary);

.blog-title {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 0.2em;
}

.blog-date {
    font-weight: bold;
    padding-bottom: 1em;
}

.blog-disclaimer {
    font-size: 0.9em;
}

.blog-starting-text {
    margin-top: 1em;
    font-size: 1.1em;
    margin-bottom: 2em;
}

.blog-button {
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

.mat-stroked-button {
    border-color: $primary;
}

.blog-picture {
    img {
        height: 250px;
        width: 100%;
    }
}

.blog-picture-mobile {
    img {
        height: 100px;
        width: 100%;
    }
}

.blog-divider {
    margin-bottom: 2em;
}

.content {
    margin: auto;
    padding-top: 100px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: large;
}