<div class='blog-entry'> 
    <div class='blog-title'>
        DAO Blog
    </div>
    <div class='blog-date'>
        2021-11-01
    </div>
    <div class='blog-disclaimer'>
        DAO stands for <i>Decentralized Autonomous Organization</i>. Without going into the semantics of the term DAO, 
        it is a community of people who make decentralized decisions and become autonomous through their software underpinning. 
        A DAO can be viewed as a tool that can be used by communities and organizations of various types.
        This blog will look into different DAO frameworks and opportunities to apply it to legacy organizations.
    </div>
    <div class='blog-starting-text'>
        A decentralized autonomous organization (DAO), sometimes called a decentralized autonomous corporation (DAC),
        is an organization represented by rules encoded as a computer program that is transparent, 
        controlled by the organization members and not influenced by a central government...
    </div>
    <div class='blog-button'>
        <button mat-stroked-button color="primary"><a href='/dao/20211101/dao-blog'>Read more...</a></button>
    </div>
    <mat-divider></mat-divider>
</div>
