<div class='blog-entry'> 
    <div class='blog-title'>
        #minus60 Laufblog
    </div>
    <div class='blog-disclaimer'>
        Dies ist mein Laufblog um mein nächstes Marathon zu dokumentieren. Der letzte Marathon liegt mit dem Jahr 2016
        schon eine länger Zeit zurück. Ziel ist der Münster Matathon im September 2024. Warum der Namen <i> #minus60 </i>?
        Den Berlin Marathon konnte ich in 4h:35min finishen, das Training fuer das folgende Jahr soll eine Verbersserung
        von 60 Minuten, also im besten Fall ein Zielzeit von unter 3h:30min, bringen. 
     </div>
</div>
<div class='blog-entry'> 
    <div class='blog-title'>
        Woche 5 - Letzte Pause
     </div>
     <div class='blog-date'>
         2023-10-23
     </div>
     <div class='blog-starting-text'>
        Zum Mittelpunkt der Woche stand wieder ein Tempolauf an. Der Gruppenlauf fiel aus, also konnte es etwas
        schneller zur Sache gehen...
     </div>
     <div class='blog-button'>
         <button mat-stroked-button color="primary"><a href='/minus60/20231023/last_week_before_sub400'>Mehr lesen....</a></button>
     </div>
    <div class='blog-title'>
        Woche 4
     </div>
     <div class='blog-date'>
         2023-10-15
     </div>
     <div class='blog-starting-text'>
        Dienstag stand ein Fahrtspiel mit 1-2-3-2-1 Kilometer auf dem Trainingsplan. Irgendwie ist dieses Training nach Arbeit und am Abend nicht das Richtige.
        Gleich auf dem ersten Kilometer begannen die Seitenstechen wieder...
     </div>
     <div class='blog-button'>
         <button mat-stroked-button color="primary"><a href='/minus60/20231014/week_four'>Mehr lesen....</a></button>
     </div>
    <div class='blog-title'>
       Zehlendorfer Crosslauf
    </div>
    <div class='blog-date'>
        2023-10-09
    </div>
    <div class='blog-starting-text'>
        Dieses mal standen 4 Einheiten im Kalender. Am Motag ein langsamer 12 km Dauerlauf,
        welcher härter war als erwartet. Eigentlich bestand bis Kilometer 7 die permanente Lust 
        wieder umzudrehen....
    </div>
    <div class='blog-button'>
        <button mat-stroked-button color="primary"><a href='/minus60/20231009/zehlendorfer_crosslauf'>Mehr lesen....</a></button>
    </div>
    <div class='blog-divider'>
        <mat-divider></mat-divider>
    </div>
    <div class='blog-title'>
        Woche 2
     </div>
    <div class='blog-date'>
        2023-10-02
    </div>
    <div class='blog-starting-text'>
        In der zweiten Woche standen 36 Laufkilometer in 3 Einheiten auf dem Plan.
        Das Tempo war weiterhin moderat. Soweit alles im grünen Bereich...
    </div>
    <div class='blog-button'>
        <button mat-stroked-button color="primary"><a href='/minus60/20231002/relaxed_week_two'>Mehr lesen....</a></button>
    </div>
    <div class='blog-divider'>
        <mat-divider></mat-divider>
    </div>
    <div class='blog-title'>
        Woche 1
     </div>
    <div class='blog-date'>
        2023-09-30
    </div>
    <div class='blog-starting-text'>
        Bereits während des letzten Halbmarathon kam die Idee, dass doch auch beim Marathon noch etwas gehen könnte. 
        In 2022 lag der Hauptfokus auf den 10 Kilometern. Das Ziel damals waren die 45 Minuten, welche bereits im Frùhsommer
        erreicht werden konnten....
    </div>
    <div class='blog-button'>
        <button mat-stroked-button color="primary"><a href='/minus60/20230930/start_or_week_one'>Mehr lesen....</a></button>
    </div>
    <div class='blog-divider'>
        <mat-divider></mat-divider>
    </div>
</div>
