<app-header></app-header>
<div class='content'>
    <div class='blog-entry'>
        <div class='blog-picture' *ngIf="isLarge">
            <img src="assets/minus60.png">
        </div>
        <div class='blog-picture-mobile' *ngIf="isSmall">
            <img src="assets/minus60.png">
        </div> 
        <div class='blog-title'>
            #minus60 Laufblog
        </div>
        <div class='blog-date'>
            2023-10-02
        </div> 
        <div class='blog-text'>
            <h1>Woche 2</h1>
            <div class='text'>
                <h2> Training </h2>
                <p class='block'>
                    In der zweiten Woche standen 36 Laufkilometer in 3 Einheiten auf dem Plan.
                    Das Tempo war weiterhin moderat. Soweit alles im grünen Bereich. 
                    Das Wetter spielt aktuell noch sehr gut mit, die Beine noch frisch und der Trainingsumfang
                    noch moderat. 
                </p>
                
                <h2> Statistik </h2>
                <p class='block'>
                    <mat-grid-list *ngIf="isLarge" cols="4" rowHeight="350px">
                        <mat-grid-tile class="my-mat-grid-tile-content"> 
                            <mat-card class="example-card">
                                <mat-card-header>
                                <mat-card-title-group>
                                    <span class="material-symbols-outlined big-icon">
                                        directions_run
                                        </span><mat-card-title>Laufen</mat-card-title>
                                    <mat-card-subtitle>Kilometer</mat-card-subtitle>
                                </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content>
                                38,5 km <br>
                                3h45min
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile class="my-mat-grid-tile-content"> 
                            <mat-card class="example-card">
                                <mat-card-header>
                                <mat-card-title-group>
                                    <span class="material-symbols-outlined">
                                        flatware
                                        </span>
                                    <mat-card-title>Kalorien</mat-card-title>
                                    <mat-card-subtitle>Verbrauch/Aufnahme</mat-card-subtitle>
                                </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content>
                                15.775 cal<br>
                                15.613 cal
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        
                            <mat-grid-tile class="my-mat-grid-tile-content"> 
                                <mat-card class="example-card">
                                    <mat-card-header>
                                    <mat-card-title-group>
                                        <span class="material-symbols-outlined big-icon">
                                            pedal_bike
                                            </span>
                                        <mat-card-title>Rad</mat-card-title>
                                        <mat-card-subtitle>Kilometer</mat-card-subtitle>
                                    </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                    48km <br>
                                    
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="my-mat-grid-tile-content"> 
                                <mat-card class="example-card">
                                    <mat-card-header>
                                    <mat-card-title-group>
                                            <span class="material-symbols-outlined">
                                                trophy
                                                </span>
                                            
                                        <mat-card-title>#minus60</mat-card-title>
                                        <mat-card-subtitle>Stand</mat-card-subtitle>
                                    </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                    #minus27
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list *ngIf="isSmall" cols="1" rowHeight="150px">
                        <mat-grid-tile class="my-mat-grid-tile-content"> 
                            <mat-card class="example-card">
                                <mat-card-header>
                                <mat-card-title-group>
                                    <span class="material-symbols-outlined big-icon">
                                        directions_run
                                        </span><mat-card-title>Laufen</mat-card-title>
                                    <mat-card-subtitle>Kilometer</mat-card-subtitle>
                                </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content>
                                    38,5 km <br>
                                    3h45min
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile class="my-mat-grid-tile-content"> 
                            <mat-card class="example-card">
                                <mat-card-header>
                                <mat-card-title-group>
                                    <span class="material-symbols-outlined">
                                        flatware
                                        </span>
                                    <mat-card-title>Kalorien</mat-card-title>
                                    <mat-card-subtitle>Verbrauch/Aufnahme</mat-card-subtitle>
                                </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content>
                                    15.775 cal<br>
                                    15.613 cal
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                        
                            <mat-grid-tile class="my-mat-grid-tile-content"> 
                                <mat-card class="example-card">
                                    <mat-card-header>
                                    <mat-card-title-group>
                                        <span class="material-symbols-outlined big-icon">
                                            pedal_bike
                                            </span>
                                        <mat-card-title>Rad</mat-card-title>
                                        <mat-card-subtitle>Kilometer</mat-card-subtitle>
                                    </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                    109km <br>
                                    
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="my-mat-grid-tile-content"> 
                                <mat-card class="example-card">
                                    <mat-card-header>
                                    <mat-card-title-group>
                                            <span class="material-symbols-outlined">
                                                trophy
                                                </span>
                                            
                                        <mat-card-title>#minus60</mat-card-title>
                                        <mat-card-subtitle>Stand</mat-card-subtitle>
                                    </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                    #minus27
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                    </mat-grid-list>   
                </p>
            </div>     
        </div>
        <div class='blog-divider'>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>