<app-header></app-header>
<div class='imprint'><mat-grid-list cols="1" [rowHeight]="650">
    <mat-grid-tile colspan= "1" rowspan="1">
        <mat-list>
          <mat-list-item class = "title-subclaim-big">
              <h1> Impressum </h1>
          </mat-list-item>
          <mat-list-item>
                <h2> storiesboard </h2> 
          </mat-list-item>
          <mat-list-item>
              Marcel Schlimper
          </mat-list-item>
          <mat-list-item>
              Hennigsdorfer Strasse 27a
          </mat-list-item>
          <mat-list-item>
              13503 Berlin, Germany
          </mat-list-item>
          <mat-list-item>
              Contact: info@storiesboard.de
          </mat-list-item>
          <mat-list-item>
              Inhaltlich Verantwortlicher gemäß i.S.d. §55 Absatz 2 RStV: Marcel Schlimper
          </mat-list-item>
          <mat-list-item>
              (Anschrift wie oben)
          </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>
</div>