<app-header></app-header>
<div class='content'>
    <div class='blog-entry'>
        <div class='blog-picture' fxHide.xs fxHide.sm>
            <img src="assets/lean/blog001.jpg">
        </div>
        <div class='blog-picture-mobile' fxHide fxShow.xs fxShow.sm>
            <img src="assets/lean/blog001.jpg">
        </div> 
        <div class='blog-title'>
            Lean success blog
        </div>
        <div class='blog-date'>
            2021-12-01
        </div> 
        <div class='blog-text'>
            <h1>Intro</h1>
            <div class='text'>
                <p class='block'>
                    It is monday morning, the coffee machine is working and there is this new idea in my head.
                    I hope this will be the next big thing. If not maybe it could be a good idea for a new business.
                    But what does it mean to create a new business for the daily tasks. You have to think about the 
                    product, do resarch about the market and you potential competitors. Yout have to think 
                    about the founding of your idea or money for the daily business.  
                </p>
                <p class='block'>
                    This blog will look into the single daily task to put a idea into a product and tries to autmomate
                    this steps as much as possible. The idea is to have a lean focus on the work for the product and put all 
                    repetative steps of a day into digitalization and automation.  
            </div>
            <h2>Research</h2>
            
            <h2>Funding</h2>
            <h2>Incoming Invoicing</h2>
            <h2>Outgoing Invoicing</h2>
            <h2>Product Development</h2> 
            <h2>Marketing</h2>
        </div>
        <div class='blog-starting-text'>
            Lean Success stands for do more in less time.
        </div>
        <div class='blog-divider'>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>