<div class='blog-entry'> 
    <div class='blog-title'>
        Your own podcast
    </div>
    <div class='blog-date'>
        2021-12-10
    </div>
    <div class='blog-picture' fxHide.xs fxHide.sm>
        <img src="assets/lean/blog002.png">
    </div>
    <div class='blog-picture-mobile' fxHide fxShow.xs fxShow.sm>
        <img src="assets/lean/blog002.png">
    </div> 
    <div class='blog-disclaimer'>
        Every day I follow some news feeds and different websites for news about different technical topics I'm interessted in.
        Also every day I do some workouts by go running for 30 minutes up to 1 hour.
        Why not use this time to consume the most intesting news within my own daily podcast. 
    </div>
    <div class='blog-starting-text'>
        Lean Success stands for do more in less time.
    </div>
    <div class='blog-button'>
        <button mat-stroked-button color="primary"><a href='/blog/lean/2021211/your-podcast'>Read more...</a></button>
    </div>
    <div class='blog-divider'>
        <mat-divider></mat-divider>
    </div>
</div>
